.aside-nav {
    margin-top: 2.5rem;

    &__list {
        list-style: none;
    }
    
    &__item {
        width: 100%;
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        &::before {
            content: "";
            height: 100%;
            width: .4rem;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--color-primary);
            transform: scaleY(0);
            transition: transform .2s, 
                        width .4s cubic-bezier(1, 0, 0, 0) .2s,
                        background-color .1s;
        }

        &--active::before {
            width: 100%;
            transform: scaleY(1);
        }

        &:hover::before {
            transform: scaleY(1);
            width: 100%;
        }

        &:active::before {
            background-color: var(--color-primary-light);
        }
    }

    &__link {
        &:link,
        &:visited {
            height: 100%;
            font-size: 1.4rem;
            text-transform: uppercase;
            text-decoration: none;
            color: var(--color-white);
            display: flex;
            padding: 1.5rem 3rem;
            align-items: center;
            position: relative;
            z-index: 1;
        }
    }

    &__icon {
        height: 1.75rem;
        width: 1.75rem;
        margin-right: 1.75rem;
        fill: currentColor;
    }
}