.container {
    max-width: 120rem;
    margin: 8rem auto;
    height: 60vh;
    box-shadow: var(--box-shadow);
    background-color: var(--color-gray-light-2);
}


.body {
    display: flex;

    &__aside {
        flex: 0 0 18%;
        background-color: var(--color-gray-dark-1);
    }
    
    &__navigation {
    }
    
    &__main {
        flex: 1;
        background-color: orangered;
    }
}


