.container {
    max-width: 120rem;
    margin: 8rem auto;
    height: 60vh;
    box-shadow: var(--box-shadow);
    background-color: var(--color-gray-light-2);
}


.body {
    display: flex;

    &__aside {
        flex: 0 0 18%;
        background-color: var(--color-gray-dark-1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__legal {
        padding: 2rem;
        color: var(--color-gray-light-4);
        font-size: 1.2rem;
        text-align: center;

        &-link {
            &:link,
            &:visited {                
                color: var(--color-primary-light);
                text-decoration: none;
            }
            
            &:hover {
                color: var(--color-primary-dark);
            }
        }
    }
    
    &__main {
        flex: 1;
        background-color: var(--color-white);
    }
}

.content {
    display: flex;
    padding: 4.5rem;
    font-size: 1.4rem;
    background-color: var(--color-gray-light-2);
    border-bottom: var(--line-light);
}

.description {
    flex: 0 0 60%;
    background-color: var(--color-white);
    margin-right: 3rem;
    box-shadow: var(--box-shadow-light);
    padding: 3rem;
}

.paragraph {

    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }
}

.recommended {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    color: var(--color-gray-dark-3);
    margin: 1rem 0;


    &__user-img {
        height: 4rem;
        border-radius: 50%;
        outline: .3rem solid var(--color-white);

        &:not(:last-child) {
            margin-right: -1.5rem;
        }
    }
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta {
    padding: 3.5rem 0;
    text-align: center;

    &__text {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
    }
}


